<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.common.dev.js"></script>
  <title>Document</title>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- <div v-if="isLogin">
      {{msg}}
    </div>
    <div v-else>
      {{msg2}}
    </div> -->
    <!-- <div v-show="isLogin"> 
      {{msg}}
    </div> -->

    <!-- <ul class="news">
      <li class="item" v-for="item in news" :key="index">
        {{item.title}}
      </li>
    </ul> -->

    <!-- <span>{{msg}}</span> - <span v-text="msg2">{{msg2}}</span> - <span v-html="msg3"></span> v-html 可以解析html 尽量不用，容易遭受跨站攻击 -->

    <!-- <div class="count">
      本次得分: {{count}}
      <button @click="add">加分</button>
      <button v-on:click="reduce">减分</button>
    </div> -->

    <!-- <div class="message">
      <p>文本内容: {{message}}</p>
      <p>
        <input type="text" v-model="message"> 双向数据绑定
      </p>
    </div> -->
    
    <!-- <div :class="className">
      <img v-bind:src="imgUrl" alt="">
    </div> -->

    <!-- <div v-pre>{{msg}}</div> -->

    <!-- <div>
      <p v-once>第一次绑定的值:{{message}}</p> 只能绑定一次
      <input type="text" v-model="message">
    </div>
    <div v-cloak>
      {{msg}}
    </div> -->
  </div>
  <script>
    // let dom = document.getElementById('app')
    // dom.innerHTML = '你好'
    let app = new Vue({
      el: '#app',
      data: {
        msg: 'hello world',
        msg2: '你好',
        msg3: 'hi,vue',
        isLogin: false,
        news: [
          { title: '"空降"不到一周 韩俊任吉林代省长 曾是刘鹤"副手"'},
          { title: '上门女婿成村霸，敲诈勒索故意纵火还打伤司法人员'},
          { title: 'X光显示肚子内有异物 港媒:黄之锋被关医院单人囚室'},
          { title: '特朗普突然出手，举行了史上最短一次记者会！'}
        ],
        count: 0,
        message: '',
        className: 'img',
        imgUrl: 'https://dss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2333090299,850498900&fm=5'
      },
      methods: {
        add () {
          this.count ++
        },
        reduce () {
          this.count --
        }
      }
      // created() {
      //   this.msg = 'hello vue'
      // }
    })
  </script>
</body>
</html>